@import "../../assets/styles/variables";

.App {
  background-size: cover;
  font-family: $site-font-family;
  background: url('../../assets/imgs/julian-desktop.jpg') no-repeat center center fixed;
}
