@import "../../../assets/styles/variables";
$crossed-out-line-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);

.portfolio-header {
    font-weight: $font-light;

    .navbar {
        transition: all 0.5s ease;
    }

    .navbar-brand:hover {
        color: map-get($theme-colors, "white") !important; 
    }

    .nav-link {
        color: map-get($theme-colors, "white") !important;    
    }

    .portfolio-header__crossed-out-line {
        cursor: pointer;
        position: relative;

        &:before, 
        &:after {
            content: '';
            top: 50%;
            width: 0%;
            height: 1px;
            position: absolute;
            background: map-get($theme-colors, "white");
        }
    
        &:before {
            left: -2.5px;
        }
    
        &:after {
            right: 2.5px;
            transition: $crossed-out-line-transition;
        }
    }
    
    .active {
		.portfolio-header__crossed-out-line:before {
		  width: 100%;
		  transition: $crossed-out-line-transition;
		}
    }
    
    .collapse {
        border-top: 1px solid rgba(255, 255, 255, .2);
       
        @media (min-width: $breakpoint-tablet) {
            border: none;
        }
    }

	.portfolio-header__crossed-out-line:hover:before {
        width: 100%;
        background: map-get($theme-colors, "white");
        transition: $crossed-out-line-transition;
	}

	.portfolio-header__crossed-out-line:hover:after {
        width: 100%;
        transition: 0s;
        background: transparent;
    }

    .portfolio-header__langs {
        font-size: $font-size-14;

        & > button {
            &:hover {
                opacity: .7;
            }

            &:hover, 
            &:focus, 
            &:active,
            &:visited {
                box-shadow: none;
            }
        }
    }
}