@import "../../assets/styles/variables";

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes progress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes toastFadein {
    from {
        right: -100px; 
        opacity: 0;
    } 

    to {
        right: 0; 
        opacity: 1;

        @media (min-width: $breakpoint-tablet) {
            right: 15px;
        }
    }
}

@keyframes toastFadeout {
    from {
        right: 15px; 
        opacity: 1;
    }
    to {
        right: -100px; 
        opacity: 0;
    }
}